@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Seja bem-vindo(a) a nossa rede social!</h1>
    <h2> Projeto de Bloco Lucas Gomes e Joao Miguel</h2>
</div>



